body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.main-header{
    color: white;
    margin-top: 4%;
    margin-bottom: 3%;
    text-decoration: underline;
}

.topics-maths{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 3px solid rgb(109, 109, 202);
    border-radius: 5px;
    color: white;
    width: 80%;
    height: 80%;
    flex-direction: column;
}

.topics-maths h1{
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    color: rgb(109, 109, 202);
}
.topic-card{
    background-color: black;
    margin: 1.2em;
    border: 2px solid rgb(109, 109, 202);;
    border-radius: 5px;
    padding: 0.4em;
}
.topic-card:hover{
    border: 2px solid white;
}   
.topic-card a{
    color: rgb(109, 109, 202);
    text-decoration: none;
    font-size: 30px;
}
.topic-card a:visited{
    color: rgb(109, 109, 202);
    text-decoration: none;
}
